@charset "utf-8";
html,
body{
	height: 100%;
	padding:0;
	margin: 0;
}
#wrap{
	min-width: 320px;
	height: 100%;
}
.img_list{
	padding: 0;
	width: 100%;
	text-align: center;
}
.img_item{
	list-style: none;
	margin: 0;
	display: inline-block;
}
.text_input{
	width:100%;
	box-sizing: border-box;
	height: 40px;
	line-height: 40px;
	border: 1px solid gray;
}
.layer_wrap {
	z-index: 100;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: .4;
		filter: alpha(opacity=40);
		background-color: #000;
	}
	button {
		background:none;
		border:0;
		cursor: pointer;
	}
	.txt_blue {color:#0082f0;}
}
/* load style */
.ajaxLoaderPage_area{
	width: 100%;
	height: 100%;
	position: relative;
}
#frotateG{
	position:absolute;
	width:50px;
	height:50px;
	left: 50%;
	top: 50%;
	transform:scale(0.6) translate(-100%,-100%);
}
.f_circleG{
	position:absolute;
	background-color:#FFFFFF;
	height:9px;
	width:9px;
	border-radius:5px;
	animation-name:f_fadeG;
	animation-duration:1.12s;
	animation-iteration-count:infinite;
	animation-direction:normal;
}
#frotateG_01{
	left:0;
	top:20px;
	animation-delay:0.42s;
}
#frotateG_02{
	left:6px;
	top:6px;
	animation-delay:0.56s;
}
#frotateG_03{
	left:20px;
	top:0;
	animation-delay:0.7s;
}
#frotateG_04{
	right:6px;
	top:6px;
	animation-delay:0.84s;
}
#frotateG_05{
	right:0;
	top:20px;
	animation-delay:0.98s;
}
#frotateG_06{
	right:6px;
	bottom:6px;
	animation-delay:1.12s;
}
#frotateG_07{
	left:20px;
	bottom:0;
	animation-delay:1.26s;
}
#frotateG_08{
	left:6px;
	bottom:6px;
	animation-delay:1.4s;
}
@keyframes f_fadeG{
0%{
	background-color:#000000}

100%{
	background-color:#FFFFFF}
}

.test3_label{
	display: inline-block;
	padding:10px;
}
.position_box{
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-bottom: 100%;
	border: 1px solid #eee;
	box-sizing:border-box;
}
.move_box{
	position: absolute;
	top: 0;
	width: 100%;
}
.move_box__left{
	left: 0;
	transition: left .5s ease;
}
.move_box__3d{
	transform: translate3D(0%,0,0);
	transition: transform .5s ease;
}
input[type=checkbox]:checked  + .position_box{
	.move_box__left{
		left: 100%;
	}
	.move_box__3d{
		transform: translate3D(100%,0,0);
	}
}

.touch_area{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.touch_option{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
}
.move_element{
	width: 100px;
	height: 100px;
	position: absolute;
	background: radial-gradient(white, green, blue);
	border-radius: 55px 55px;
}


