<!--#include file="/include/header.html" -->
</head>
<body>
	<div id="wrap">
		<div class="touch_option"><label for="touchOption">translate3d 사용</label><input type="checkbox" id='touchOption'></div>
		<div class="touch_area" id="touchArea">
			<div class="move_element" id="moveEle"></div>
		</div>
	</div>
	<script type="text/javascript" src="../resources/js/mgm/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="../resources/js/mgm/common.js"></script>
	<script type="text/javascript" src="../resources/js/mgm/jquery.touchSwipe.js"></script>
	<script type="text/javascript">
		$(function(){
			var touchTest = {
				box : $('#touchArea'),
				moveEle : $('#moveEle'),
				status : false,
				opt : $('#touchOption'),
				defaultmove : {
					typeA : 'transform:translate3d({{x}},{{y}},0);-webkit-transform:translate3d({{x}},{{y}},0);',
					typeB : 'left:{{x}};top:{{y}};'
				},
				type : 'typeA',
				startPos : [0,0],
				init : function(){
					this.moveEle.on('touchstart',function(event){
						var target = $(event.target);
						touchTest.status = true;
						touchTest.startPos = [target.offset().top,target.offset().left];
					});
					this.box.on('touchmove',function(event){
						if(touchTest.status){
							touchTest.moveTargetFnc(event.originalEvent.changedTouches[0].pageX - 50, event.originalEvent.changedTouches[0].pageY - 50);
						}
					}).on('touchend',function(){
						touchTest.status = false;
					});
					if(touchTest.opt.prop('checked')){
						touchTest.type = 'typeA';
					}else{
						touchTest.type = 'typeB';
					};
					touchTest.opt.on('change',function(){
						if($(this).prop('checked')){
							touchTest.type = 'typeA';
						}else{
							touchTest.type = 'typeB';
						}
					});
				},
				moveTargetFnc : function(x,y){
					var styleStr = (function(){
						var regX = /{{x}}/g,
							regY = /{{y}}/g;
						return touchTest.defaultmove[touchTest.type]
							.replace(regX,(x+'px'))
							.replace(regY,(y+'px'));
					})();
					
					touchTest.moveEle.attr('style',styleStr);
				}
			};
			touchTest.init();
		});
	</script>
</body>
</html>