<!--#include file="/include/header.html" -->
</head>
<body>
	<div id="wrap">
		<label for="box1_controller" class="test3_label">모션 3d</label><input type="checkbox" id="box1_controller">
		<div class="position_box">
			<div class="move_box move_box__3d">
				<img src="../resources/imgs/mgm/20150501_171416.jpg" width="100%">
			</div>
		</div>
		<label for="box2_controller" class="test3_label">모션 left</label><input type="checkbox" id="box2_controller">
		<div class="position_box">
			<div class="move_box move_box__left">
				<img src="../resources/imgs/mgm/20150501_171416.jpg" width="100%">
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../resources/js/mgm/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="../resources/js/mgm/common.js"></script>
</body>
</html>