<!--#include file="/include/header.html" -->
</head>
<body>
	<div id="wrap">
		<ul class="img_list">
			<li class="img_item"><img src="../resources/imgs/mgm/IMG_20130510_154813.jpg" width="320" height="480" ></li>
			<li class="img_item"><img src="../resources/imgs/mgm/IMG_20130510_153210.jpg" width="320" height="213" ></li>
			<li class="img_item"><img src="../resources/imgs/mgm/IMG_1053.jpg" width="320" height="180" ></li>
			<li class="img_item"><img src="../resources/imgs/mgm/DSC00823.jpg" width="320" height="213" ></li>
			<li class="img_item"><img src="../resources/imgs/mgm/DSC00821.jpg" width="320" height="213" ></li>
			<li class="img_item"><img src="../resources/imgs/mgm/DSC00817.jpg" width="320" height="213" ></li>
			<li class="img_item"><img src="../resources/imgs/mgm/DSC00805.jpg" width="320" height="213" ></li>
			<li class="img_item"><img src="../resources/imgs/mgm/DSC00800.jpg" width="320" height="213" ></li>
			<li class="img_item"><img src="../resources/imgs/mgm/DSC00789.jpg" width="320" height="213" ></li>
			<li class="img_item"><img src="../resources/imgs/mgm/IMG_20130510_154813_copy.jpg" width="320" height="480" ></li>
			<li class="img_item"><img src="../resources/imgs/mgm/IMG_20130510_153210_copy.jpg" width="320" height="213" ></li>
			<li class="img_item"><img src="../resources/imgs/mgm/IMG_1053_copy.jpg" width="320" height="180" ></li>
			<li class="img_item"><img src="../resources/imgs/mgm/DSC00823_copy.jpg" width="320" height="213" ></li>
			<li class="img_item"><img src="../resources/imgs/mgm/DSC00821_copy.jpg" width="320" height="213" ></li>
			<li class="img_item"><img src="../resources/imgs/mgm/DSC00817_copy.jpg" width="320" height="213" ></li>
			<li class="img_item"><img src="../resources/imgs/mgm/DSC00805_copy.jpg" width="320" height="213" ></li>
			<li class="img_item"><img src="../resources/imgs/mgm/DSC00800_copy.jpg" width="320" height="213" ></li>
			<li class="img_item"><img src="../resources/imgs/mgm/DSC00789_copy.jpg" width="320" height="213" ></li>
		</ul>
	</div>
	<script type="text/javascript" src="../resources/js/mgm/jquery-1.11.3.js"></script>
</body>
</html>