<!--#include file="/include/header.html" -->
</head>
<body>
	<div id="wrap">
		<input type="text" class="text_input" id="datePicker" value="" readonly width="100%" />	
	</div>
	<script type="text/javascript" src="../resources/js/mgm/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="../resources/js/mgm/common.js"></script>
	<script type="text/javascript" >
		$(function(){
			var cssURL = '../resources/css/mgm/jquery-ui.css',
				jsURL = '../resources/js/mgm/jquery-ui.js';

			$('#datePicker').on('click focus',function(){
				if(typeof UTIL.loadScriptStatus[cssURL] === 'undefined' || typeof UTIL.loadScriptStatus[jsURL] === 'undefined'){
					$('#wrap').append('<div class="layer_wrap loader" id="layerLoader" style=""><div class="ajaxLoaderPage_area" id="ajaxPageLoader"><div id="frotateG"><div class="f_circleG" id="frotateG_01"></div><div class="f_circleG" id="frotateG_02"></div><div class="f_circleG" id="frotateG_03"></div><div class="f_circleG" id="frotateG_04"></div><div class="f_circleG" id="frotateG_05"></div><div class="f_circleG" id="frotateG_06"></div><div class="f_circleG" id="frotateG_07"></div><div class="f_circleG" id="frotateG_08"></div></div></div></div>');
					$('#layerLoader').fadeIn('fast');
					UTIL.realTimeScript('../resources/css/mgm/jquery-ui.css',{
						opt : 'css',
						callback : function(){
							UTIL.realTimeScript('../resources/js/mgm/jquery-ui.js',{
								opt : 'script',
								callback : function(){
									$('#layerLoader').fadeOut('fast').remove();
									$('#datePicker').datepicker().focus();
								}
							})
						}
					});
				};
				
			});
		});
	</script>
</body>
</html>